body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B59410;
}

header {
    background-color: #006400;
    color: dark green;
    text-align: center;
    padding: 1em;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.card {
    width: 300px;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}
